:root {
  --first-color: #ddd;
  --font-color: #000031;
}

.App {
  max-width: 600px;
  margin: 30px auto;
  color: var(--font-color);
}

.app-main {
  font-family: sans-serif;
  padding: 30px;
  padding-bottom: 15px;
  border: solid 2px var(--first-color);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--first-color);
  background: linear-gradient(#faaca8aa, #ddd6f3);
}

.app-main h1 {
  text-align: center;
  margin-top: 0;
}

footer {
  text-align: center;
  font-size: 0.875rem;
}

.Search {
  text-align: center;
}

.Search form {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 0 4px;
}

.Search .search-input {
  width: 70% !important;
}

.Weather {
  text-align: initial;
}

.Weather {
  margin: 0;
}

.Weather h2 {
  margin: 0;
}

.Weather li {
  list-style: none;
}

.Weather .description {
  text-transform: capitalize;
}

.Weather .icon-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
}

.Weather .temperature {
  font-size: 3rem;
}

.Weather .units {
  font-size: 1.25rem;
  position: relative;
  top: -1.25rem;
}

.Weather .units a {
  text-decoration: none;
}

.weather-alert {
  width: 330px;
  margin: 0 auto;
}

.Loader {
  justify-content: center;
}
