:root {
  --first-color: #ddd;
}

.App {
  max-width: 600px;
  font-family: sans-serif;
  margin: 30px auto;
}

.app-main {
  padding: 30px;
  padding-bottom: 0;
  border: solid 2px var(--first-color);
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--first-color);
  background: linear-gradient(#f35c6e30, #686ee230);
}

.app-main h1 {
  text-align: center;
  margin-top: 0;
}

footer {
  text-align: center;
}

.Search {
  text-align: center;
}

.Search form {
  margin-bottom: 40px;
  gap: 0 10px;
}

.search-input {
  width: 70% !important;
}

.Weather {
  text-align: initial;
}

.Weather {
  margin: 0;
}

.Weather h2 {
  margin: 0;
}

.Weather li {
  list-style: none;
}

.Weather .description {
  text-transform: capitalize;
}

.Weather .temperature {
  font-size: 48px;
}

.Weather .units {
  font-size: 24px;
  position: relative;
  top: -24px;
}

.Loader {
  justify-content: center;
}
